# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\opensource\PacketEvents\packetevents\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
